TITLE=agents
DEBUG=true
ENVIRONMENT=dev

BASE_URL=http://localhost:8000
SECRET_KEY=q1uxnrFsLRR4lXkoIj1FyODPr7tSF771
REDIS_DSN=redis://localhost:6379/0
CORS_ORIGINS=["127.0.0.1", "localhost"]
SENTRY_DSN=
